* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    position: absolute;
    top: 10px;
    right:10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}
/* 
ul, li {
    margin-left: 0;
    margin-right:0;
} */

nav {
    display: block;
    margin: 0px;
}

ul{
    list-style-type: none;
    /* margin: 0 auto; */
    padding: 0;
}


/* Add your CSS here */
/* runs if condition is true */
@media (min-width: 576px) {
    .hamburger{
        display:none;
    }
}

@media (max-width: 767px){
    img{
        display: none;
    }
}

.outerMenu{
    text-transform: uppercase;
    padding: 20px 20px;
    font-size: 24px;
    color: rgb(130, 153, 255);
    border-bottom: 1px solid grey;
}

.outerMenu a {
    text-decoration: none;
    color: rgb(130, 153, 255);
}


.innerMenu a{
    color: black;
    display: block;
    margin-left: 0px;
    text-align: left;
    padding: 10px 0px;
}



